:root{
    --principal-font: 'DM Sans', sans-serif;
    --secondary-font: 'Inter', sans-serif;

    --bitcoin-orange: #F7931A;
    --title-orange: #FF9536;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warn-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-grey: #757575;
    --warn-grey: #808080;
    --table-grey: #B5B0AC;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;

    --bg-header: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: var(--principal-font);
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 320px;
    text-align: center;
    background: var(--bg-header);
}
header img{
    margin: 2.25rem 0;
}
.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    padding: 0 1rem;
}
.header--title-container h1{
    margin-bottom: 1.5rem;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.625rem;
    color: var(--just-white);
}
.header--title-container p{
    margin-bottom: 2rem;
    font-size: .875em;
    font-weight: 500;
    color: var(--soft-orange);
}
.header--button{
    position: relative;
    top: 10px;
    padding: .75rem 1rem;
    border-radius: 4px;
    
    font-size: .875em;
    font-weight: 700;
    color: var(--warn-black);
    text-decoration: none;

    background-color: var(--off-white);
    box-shadow: 0 4px 8px #59491e29;
}
.header--button span{
    display: inline-block;
    width: .8125rem;
    height: .5rem;
    margin-left: .625rem;
    background-image: url(../assets/icons/arrow.svg);
}

main{
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange{
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 3.6875rem .9375rem 0px .9375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.BackgroundImg{
    width: 195px;
    height: 195px;
    background-image: url(../assets/images/Bitcoin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange--text-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    min-width: 288px;
    max-width: 900px;
    margin-top: 2.5rem;
}
.main-exchange--text-container h2{
    font-size: 1.5em;
    line-height: 1.625rem;
    font-weight: 700;
    color: var(--warn-black);
}
.main-exchange--text-container p{
    font-size: .875em;
    font-weight: 500;
    color: var(--off-grey);
}
.main-table-container{
    display: flex;
    width: 100%;
    max-width: 300px;
    margin-top: 3rem;
    background-color: transparent;
    overflow-x: auto;
}
#table1, #table2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 300px;
}
.main-table-container h3{
    margin-right: 9rem;
    font-size: 1.125em;
    font-weight: 700;
    color: var(--title-orange);
}
#table2 h3{
    color: var(--secondary-blue);
    margin-left: 1rem;
}
.main-table-container--table{
    display: grid;
    grid-template-columns: repeat(2,117.5px);
    grid-template-rows: repeat(4, 39px);
    max-width: 235px;
    margin-top: .75rem;
    font-family: var(--secondary-font);
}
.main-table-container--table p{
    padding: 10px 22px;
    border: 1px solid var(--off-white);
    text-align: start;
    background-color: var(--just-white);
}
.main-table-container--table p:nth-child(1){
    border-radius: 8px 0px 0px 0px;
}
.main-table-container--table p:nth-child(2){
    border-radius: 0px 8px 0px 0px;
}
.main-table-container--table p:nth-child(7){
    border-radius: 0px 0px 0px 8px;
}
.main-table-container--table p:nth-child(8){
    border-radius: 0px 0px 8px 0px;
}
.main-table-container--table p:nth-child(1),.main-table-container--table p:nth-child(3),.main-table-container--table p:nth-child(5),.main-table-container--table p:nth-child(7){
    color: var(--table-grey);
}
.main-table-container--table p:nth-child(2),.main-table-container--table p:nth-child(4),.main-table-container--table p:nth-child(6),.main-table-container--table p:nth-child(8){
    font-size: .875em;
    font-weight: 400;
    color: var(--off-grey);
}
.main-table-container--table p span{
    display: inline-block;
    margin-left: .6875rem;
    width: 12px;
    height: 10px;
    background-image: url(../assets/icons/trending-down.svg);
}
.main-table-container--table p:nth-child(4) span{
    background-image: url(../assets/icons/trending-up.svg);
}
.main-table-container--update{
    margin-top: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    background-color: var(--soft-orange);
    font-family: var(--secondary-font);
    font-size: .75em;
}
.com{
    background-color: var(--soft-blue);
}

.main-about{
    width: 100%;
    min-width: 320px;
    margin-top: 4rem;
    padding: 2.875rem 1rem;
    color: var(--just-white);
    text-align: center;
    background-color: var(--warn-black);
}
.main-about--logo{
    position: relative;
    bottom: 58px;
    display: inline-block;
    width: 40px;
    height: 25px;
    background: url(../assets/images/logo/logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.main-about--title h2{
    min-width: 288px;
    font-size: 1.5em;
    line-height: 1.625rem;
    font-weight: 700;
}
.main-about--title p{
    margin-top: 1.5rem;
    font-size: .875em;
    font-weight: 500;
    line-height: 1.125rem;
    color: var(--warn-grey);
}
.about-cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    margin-top: 2rem;
}
.about-cards--card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .625rem;
    width: 90%;
    max-width: 500px;
    min-width: 288px;
    margin: 0 auto;
    padding: 1.375rem 1rem;
    text-align: start;
    background-color: var(--black);
    border-radius: 4px;
}
.about-cards--card span{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.about-cards--card:nth-child(1) span{
    background: url(../assets/icons/clock.svg);
}
.about-cards--card:nth-child(2) span{
    background: url(../assets/icons/eye.svg);
}
.about-cards--card:nth-child(3) span{
    background: url(../assets/icons/dolar-sign.svg);
}
.about-cards--card:nth-child(4) span{
    background: url(../assets/icons/check.svg);
}
.about-cards--card h3{
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1.125rem;
}
.about-cards--card p{
    font-size: .875em;
    font-weight: 500;
    line-height: 1.125rem;
    color: var(--warn-grey);
}

.main-hero{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vh;
    min-width: 320px;
    background: url(../assets/images/bitcoinbabyx2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-hero h2{
    padding-top: 4rem;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.625rem;
    color: var(--just-white);
}

.main-plans{
    width: 100%;
    min-width: 320px;
    text-align: center;
}
.main-plans--title{
    margin-top: 4rem;
    padding: 0px .9375rem;
}
.main-plans--title h2{
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.625rem;
    color: var(--warn-black);
}
.main-plans--title p{
    margin-top: 1.5rem;
    font-size: .875em;
    font-weight: 500;
    line-height: 1.125rem;
    color: var(--off-grey);
}
.plans-options{
    display: flex;
    gap: 16px;
    width: 100%;
    min-width: 320px;
    max-width: 900px;
    margin: 0 auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-options--card{
    scroll-snap-align: center;
    width: 60%;
    min-width: 190px;
    max-width: 400px;
    margin: 3.125rem auto;
    padding: 1.5rem 1rem;
    background-color: var(--just-white);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}
.plans-options--recomm{
    position: relative;
    bottom: 25px;
    background-color: var(--bitcoin-orange);
    width: 70%;
    margin: -10px auto;
    padding: .5rem;
    font-family: var(--secondary-font);
    font-size: .75em;
    font-weight: 700;
    line-height: .875rem;
    color: var(--just-white);
    text-align: center;
    border-radius: 8px;
}
.plans-options--card h3{
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.125rem;
    color: #000000;
}
.plans-options--price{
    margin-top: .5rem;
    font-family: var(--secondary-font);
    font-size: 3.25em;
    font-weight: 700;
    line-height: 3.9375rem;
}
.plans-options--price span{
    position: relative;
    bottom: 30px;
    margin-right: 5px;
    font-size: 14px;
    font-weight: 500;
}
.plans-options--profit{
    margin-top: 1rem;
    font-family: var(--secondary-font);
    font-size: .75em;
    font-weight: 500;
    line-height: .9375rem;
    color: var(--off-grey);
}
.plans-options--card button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: 100%;
    margin-top: 1rem;
    padding: .75rem 1rem;
    font-family: var(--principal-font);
    font-size: .875em;
    font-weight: 700;
    line-height: 1.125rem;
    background-color: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
}
.plans-options--card button span{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../assets/icons/arrow-right.svg);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.125rem;
    width: 100%;
    min-width: 320px;
    padding: 3rem;
    background-color: var(--bitcoin-orange);
}
.footer-social ul{
    list-style: none;
}
.footer-social ul li a{
    margin-bottom: .5rem;
    font-size: .875em;
    font-weight: 500;
    line-height: 1.125rem;
    color: var(--just-white);
    text-decoration: none;
}
.footer-logo{
    width: 65px;
    height: 50px;
}